/* font */

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@400;500;700&display=swap');

  :root {
    --warna-hijau-utama: #133A1B;
    --warna-kuning-mahal: #B28A5B;
    --warna-abu-deskripsi: #A6A6A6;
  }

  body{
    overflow-x: hidden;
    max-width:100%;
  }

  h1{
    font-family: 'Playfair Display';
    shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 700 !important;
    
  }

  h2{
    font-family: 'Playfair Display';
    /* shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    font-weight: 700 !important;
  }

  h3{
    font-family: 'Playfair Display';
  
    font-weight: 700 !important;
  }

  h6{
    font-family: 'Poppins', sans-serif;
    
  }

  p{
    font-family: 'Poppins', sans-serif;
  }

  a{
    all: unset;
  }



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-top: 30px !important;
  }
  
  
  .pencarian {
    margin-right: 15px;
  }
  

.pencarian{
    border-radius: 100px !important;
    width : 13rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: .9rem !important;
    font-family: Playfair Display;

}

.menu-nav{
    font-family: Playfair Display;
}

.nav-logo{
  width:150px;
}

/* SECTION 1 */

#home{
  height : 100%;
  width:100%
}

#carouselExampleCaptions{
    margin-top: 30px;
}

.carousel-inner .gambar-hero {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Untuk menjaga aspek rasio dan mengisi carousel */
}

.carousel-inner{
  height: 500px; 
  background-color: black;
  border-radius: 13px;
}

.carousel-caption h1 {
  text-align: left; /* Mengatur teks rata kiri */
  margin-left: -120px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hidden-pic{
  display: none;
}

/* SECTION 2 */

#property {
  height : 100%;
  width:100%;
  padding-top:100px;
  padding-bottom: 100px;
}

#property h6{
  letter-spacing: 2px;
  color: var(--warna-hijau-utama);
}

#property a{
  all: unset;
}

.pembungkus-card{
  gap: 60px;
}

.property-card {
  margin-top: 20px;
  height: 400px;
  border-radius: 16px;
  position: relative;
  width: 95%;
  display: flex;
  align-items: flex-end; 
  justify-content : center;
  overflow: hidden; 
}

.property-card h2, .property-card p {
  color: white;
}

.property-card h2{
  font-size: 25px
}

.property-card p {
  font-size: 10px;
}

.inside-property-card {
  z-index: 99;
  border-radius: 16px;
  position: absolute; /* Mengubah posisi menjadi absolute */
  background-color: var(--warna-hijau-utama);
  display: flex;
  width: 95%; /* Menggunakan width 100% agar card menutupi gambar */
  align-items: center;
  height:80px;
  bottom: 10px; 

  padding-right: 10px;
  transition: background-color 0.3s ease;
}

.inside-property-card:hover{
  background-color: #282828;
   
}

.img-card {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  object-position: center bottom; 
  border-radius: 16px;
}

.div-bulat {
  width: 50px; /* Lebar div */
  height: 50px; /* Tinggi div */
  background-color: var(--warna-kuning-mahal); /* Warna latar belakang */
  border-radius: 50%; /* Untuk membuatnya bulat */
  display: flex;
  
  align-items: center;
  justify-content: center;
}

.pembungkus-card{
  display: flex;
}


.tombol-play {
  color: white; /* Warna ikon */
  font-size: 23px; /* Ukuran ikon */
}


/* SECTION 3 */

#value{
  padding-top: 30px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
}


#value h6{
  letter-spacing: 2px;
  color: var(--warna-hijau-utama);
}

#value .side-description{
  color: var(--warna-abu-deskripsi);
}

.card-wrapper{
  margin-top: 40px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.value-card{
  padding-left: 30px;
  padding-right: 30px;
  
  width:400px;
  height:350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  transition: box-shadow 0.3s ease;
}

.value-card:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}

.top-value{
  padding-top:30px;
  padding-bottom:30px;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  gap:40px;
}

.bottom-value{
  padding-bottom: 0px;
}


/* SECTION 4 */

#megaproject{
  padding-top: 30px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
}


#megaproject h6{
  letter-spacing: 2px;
  color: var(--warna-hijau-utama);
  
}
#megaproject h1{
  text-align: right;
}

#megaproject .side-description{
  color: var(--warna-abu-deskripsi);
  text-align: right;
}

#megaproject .bawah{
  /* background-color: red; */
}

.bawah{
  width:100%;
  height:350px !important;
}

.bawah .kiri{
  background-color: #F2F2F1;
  padding: 20px;
}

.kiri-inside-kiri{

}

.image-holder{
  width : 300px;
  height : 310px;
  display: flex;
  justify-content: center; /* Untuk mengatur gambar secara horizontal */
  align-items: center; /* Untuk mengatur gambar secara vertikal */
  overflow: hidden; /* Untuk memotong gambar jika ukuran gambar melebihi image-holder */  
  object-fit: cover !important; 
  object-position: center bottom;  
}

.gambar-kiri{
  /* margin:40px; */
  height:100%;
  object-fit: cover !important; 
}

.kiri-inside-kanan{
  padding: 0px 0px 0px 20px;
}

.button-medium{
  background-color: var(--warna-hijau-utama);
  color : white;
  width : 100%;
  height: 45px;
  
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-medium:hover{
  background-color: #1F5F2C;
}

.kanan-inside{
  gap: 10px;
}

.kartu-dua{
  width : 100%;
  height : 166.5px;
  display: flex;
  justify-content: center; /* Untuk mengatur gambar secara horizontal */
  align-items: center; /* Untuk mengatur gambar secara vertikal */
  overflow: hidden; /* Untuk memotong gambar jika ukuran gambar melebihi image-holder */  
  object-fit: cover !important; 
  object-position: center bottom;   
  position: relative;
  border-radius: 15px;
}



.keterangan {
  position: absolute; /* Mengatur elemen h6 menjadi posisi absolut */
  top: 80%; /* Menengahkan vertikalnya */
  /* left: 90%;  */
  right: -130px;
  text-align: right;
  color: white !important;
  transform: translate(-50%, -50%); /* Untuk menengahkan elemen h6 dalam kartu-dua */
  z-index: 1; /* Mengatur h6 agar berada di atas gambar */
}


.gambar-kecil{
  object-fit: cover !important;
  width: 100%; 
}

/*SECTION MAP*/
.map{
  background-color: #133A1B;
  width: 102%;
}

.map-img{
  width: 70%;
  height: 70%;
}

/*SECTION BLOGS*/
.blogs-con{
  width: 120%;
}

.img-blog{
  width: 50%;
}

.small-desc{
  font-size: 20px;
}



/*FOOTER DESKTOP*/

footer {
  background-color: #133A1B;
  font-family: 'Playfair Display';
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.container-footer {
  width: 100%;
  max-width: 1320px;
}

.wrapper-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  width: 182px;
}

.wrapper-footer .footer-widget {
  margin: 0 0 50px;

}

.wrapper-footer .footer-widget .footer-logo {
  margin-bottom: 30px;
  vertical-align: middle;
}

.wrapper-footer .footer-widget p {
  margin-bottom: 30px;
  font-family: 'Playfair Display';
  font-size: 16px;
  line-height: 24px;
}

.wrapper-footer .footer-widget .medsos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper-footer .footer-widget .medsos li {
  list-style: none;
}

.wrapper-footer .footer-widget .medsos li a {
  width: 40px;
  display: flex;
  text-decoration: none;
}

.medsos {
  padding: 0;
}

.footer-widget .links {
  list-style: none;
}

.footer-widget .links li a {
  text-decoration: none;
  color: white;
  line-height: 3;
}

.copyright-wrapper p {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 16px;
  border-top: 1px solid white;
  padding-top: 13px;
}


/* MEDIA QUERY */

@media (max-width: 984px) {
  .nav-logo{
    width:100px !important;
  }

  h6{
    font-size: .6rem !important;

  }

/* SECTION 1 */
  .carousel-inner{
    height: 500px; 
    background-color: black;
    border-radius: 13px;
    position: absolute;
  }

  .carousel-caption h1 {
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 180px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }


  .carousel-inner .gambar-hero {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }


  /* SECTION 2 */
    .property-card {
      height: 500px;
      border-radius: 16px;
      position: relative;
      width: 300px;
      display: flex;
      align-items: flex-end; 
      justify-content : center;
      
    }

    .pembungkus-card{
      display: flex;
      gap: 20px;
      
      height:100%;
      /* background-color: red; */
      overflow-x: scroll !important;
      overflow-y: hidden;
    }
  

  .inside-property-card {
    z-index: 99;
    border-radius: 16px;
    position: absolute; 
    background-color: var(--warna-hijau-utama);
    display: flex;
    width: 95%; 
    align-items: center;
    height:80px;
    bottom: 10px; 
    padding-right: 20px;
    transition: background-color 0.3s ease;
  }

  .property-bawah{
    /* width:200vh; */
    overflow-x: scroll;
  }

  /* SECTION 3 */
  #value .side-description{
    display: none;
  }

  #value{
    width: 100%;
    /* overflow-x: scroll !important; */
  }



  
  .card-wrapper{
    display: flex;
    width: unset;
    /* justify-content: unset; */
    gap: 40px !important;
    height: 400px;
    overflow-x: scroll !important;
    /* background-color: red; */
  }

  

  .bottom-value .side-description{
    display: block !important;

  }

  .value-card{
    min-width: 300px;
  }

  /* SECTION 4 */
  
  #megaproject{
    height: 100vh;
    padding-bottom : 50px;
  }

  #megaproject .side-description{
    display: none;
  }

  .bawah{
    flex-direction: column;
  }

  /*FOOTER*/

  .wrapper-footer {
    justify-content: space-between;
  }

  .footer-logo {
    width: 134px;
  }
  
  .wrapper-footer .footer-widget .footer-logo {
    margin-bottom: 30px;
    vertical-align: middle;
  }
  
  
  .copyright-wrapper p {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 13px;
  }
}


@media (max-width: 480px) {
  .nav-logo{
    width:100px !important;
  }

  h6{
    font-size: .3rem;

  }

  h6{
    font-size: .6rem !important;

  }

  /* SECTION 1 */
  #carouselExampleCaptions{
    
  }


  .carousel-inner{
    height: 700px; 
    background-color: black;
    border-radius: 13px;
  }

  .carousel-caption h1 {
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 280px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .carousel-inner .gambar-hero {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Untuk menjaga aspek rasio dan mengisi carousel */
  }

  
  /* SECTION 2 */
  #property{
    /* margin-top: -90px; */
    padding-bottom: 100px;
  }

  .property-card {
    height: 500px;
    border-radius: 16px;
    position: relative;
    width: 260px;
    display: flex;
    align-items: flex-end; 
    justify-content : center;
    
  }

  .inside-property-card {
    z-index: 99;
    border-radius: 16px;
    position: absolute; /* Mengubah posisi menjadi absolute */
    background-color: var(--warna-hijau-utama);
    display: flex;
    width: 95%; 
    align-items: center;
    height:80px;
    bottom: 10px; 
    padding-right: 20px;
    transition: background-color 0.3s ease;
  }

  .pembungkus-card{
    display: flex;
    gap: 20px;
    width:100%;
    height:100%;
    /* background-color: red; */
    overflow-x: scroll !important;
    overflow-y: hidden;
  }

 /* SECTION 4 */

 #megaproject .kiri-inside-kanan p{
  display: none;
 }

 #megaproject{
  margin-bottom: 50px;
 }

 .kiri-inside-kanan{
  padding: 0px;
  margin-top: 20px;
 }

 .kiri{
  flex-direction: column;
 }

 .image-holder{
  width : 100%;
 } 

 #megaproject h6{
  text-align: right;
 }

 .gambar-kecil{
  height: 100% !important;
 }

 .keterangan{
  right: -90px;
 }

 /*FOOTER*/
 .wrapper-footer {
  justify-content: space-evenly;
 }

 .footer-widget {
  text-align: center;
 }

 .footer-widget .links li a {
  line-height: 3;
  display: flex;
  font-size: 8px;
}

.wrapper-footer .footer-widget .footer-logo {
  width: 100px;
}

.wrapper-footer .footer-widget .desc {
  font-size: 12px;
}

.medsos{
  padding: 0 60px;
  justify-content: center;
}

.copyright-wrapper p{
  font-size: 8px;
}
  
}